<div class="holder">
  <h2><small class="dark-grey-text"><span class="glyphicon glyphicon-book"></span></small>&ensp;My Notes</h2>
  <hr>
  <div class="row">
    <% 17.times do %>
      <div class="col-sm-4 col-md-3 col-lg-2 card note">
        <h4><%= Faker::Lorem.sentences(2).join(" ").truncate(50) %></h4>
        <p>
          Last edited on: 4th Dec 2016
        </p>
      </div>
    <% end %>
      <div class="col-sm-4 col-md-3 col-lg-2 card note new">
        <h4 class="grey-text">
          <span class="glyphicon glyphicon-pencil"></span>
          New note...
        </h4>
      </div>
  </div>
</div>