<div class="row col-md-8 col-md-offset-2">
  <div class="holder">
    <div class="row">
      <div class="col-md-6">
        <br>
        <p class="light-grey-text">
          Last Edited: 4th Dec 2012.
        </p>
      </div>
      <div class="col-md-6 text-right">
        <br>
        <p class="actions">
          <a href="#" class="btn grey-bg"><span class="glyphicon glyphicon-pencil"></span>&ensp;Edit Note</a>
          <a href="#" class="btn red-bg"><span class="glyphicon glyphicon-trash"></span>&ensp;Delete Note</a>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 rendered-note">
        <%= render "test"%>
      </div>
    </div>
  </div>
</div>