<div class="row margin-bottom-50">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to notes_path, class:"btn grey-bg" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>&ensp;
          Back to My Notes
        <% end %>
        <hr>
      </div>
      <div class="col-xs-1">
        <h2>
          <span class="glyphicon glyphicon-file"></span>
        </h2>
      </div>
      <div class="col-xs-11">
        <h3><%= Faker::Lorem.sentence %></h3>
        <p>
          <span class="glyphicon glyphicon-book"></span>&ensp;
          My Notes,
          Last Edited: 4th Dec 2012.
        </p>
        <p class="actions">
          <a href="#" class="btn grey-bg"><span class="glyphicon glyphicon-pencil"></span>&ensp;Edit Note</a>
          <a href="#" class="btn red-bg"><span class="glyphicon glyphicon-trash"></span>&ensp;Delete Note</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="holder col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-12 rendered-note">
        <%= render "test"%>
      </div>
    </div>
  </div>
</div>