<div class="row margin-top-50">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Create new notebook</h2>
    <%= form_for @note_book, url: {controller: 'note_books', action: 'create'} do |f| %>
    <div class="form-group">
      <%= f.label :notebook %><br>
      <%= f.text_field :title, class:'form-control' %><br>
    </div>
    <div class="form-group">
      <%= f.submit "Create notebook", class:'btn red-bg' %>
    </div>

    <% end %>
</div>
</div>
