// application layout
body.application_layout {
  background: $ultra_light_grey;
  $sidebar_width: 60px;
  margin-left: $sidebar_width;

  div.sidebar {
    $padding_top_bottom: 30px;

    padding: $padding_top_bottom 0;
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar_width;
    background: $dark_grey;
    border-right: $ultra_dark_grey;
    color: white;
    height: 100vh;
    
    li.menu-item {
      $menu_item_height: 60px;

      height: $menu_item_height;
      text-align: center;
      list-style-type: none;
      border-bottom: thin darken($dark_grey, 3) solid;

      a {
        display: block;
        width: $sidebar_width;
        height: $menu_item_height;
        line-height: $menu_item_height;
        color: $light_grey;
        text-decoration: none;
        font-size: 25px;
        
        &:hover {
          color: $ultra_light_grey;
          background: $ultra_dark_grey;
        }
      }
    }

    div.bottom-menu-items {
      position: absolute;
      bottom: $padding_top_bottom;
    }
 }

 div.main-container {
   padding: 50px;

   .holder {
     background: white;
     border-radius: 20px;
     padding: 20px 50px;
     box-shadow: 0px 1px 1px 1px lighten($light_grey, 10);
   }
 }
}