// colors & variables
  $primary_color: #de1f26;
  $red: #de1f26;
  $dark_red: darken($red, 10);
  $green: #2ecc71;
  $dark_green: #27ae60;
  $ultra_light_grey: #FFFAFA;
  $light_grey: #dadada ;
  $grey: #777 ;
  $dark_grey: #333; 
  $ultra_dark_grey: #111;

  // used as border-radius for buttons and alerts
  $button_roundness: 7px;
  // modals and cards
  $modal_roundness: 10px;

// fonts
  @import 'http://fonts.googleapis.com/css?family=Rubik';
  @font-face{
    font-family:'Glyphicons Halflings';
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot');
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff2') format('woff2'),url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.woff') format('woff'),url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
  }

// top level elements (html, body)
  html { 
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: $ultra_light_grey;
    line-height: 1.45;
    color: $grey;
    letter-spacing: 0.5px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
  }

// Typography & font-sizes
  h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: 600;
    color: $dark_grey;
    font-family: 'Rubik', sans-serif;
  }
  h1 {
    font-size: 3.998em;
  }
  h2 {font-size: 2.827em;}
  h3 {font-size: 1.999em;}
  h4 {font-size: 1.414em;}
  h1.title {
    margin-bottom: 50px;
    small {
      font-size: 16px;
    }
  }
  small, .font-small { font-size: 0.8em; }
  .text-normal {
    font-weight: normal;
  }

// Backgrounds
  .primary-bg {
    background: $primary_color !important;
    color: white;
  }
  .red-bg {
    background: $red;
    color: white;
  }
  .dark-red-bg {
    background: $dark_red;
    color: white;
  }
  .green-bg {
    background: $green;
    color: white;
  }
  .dark-green-bg {
    background: $dark_green;
    color: white;
  }
  .grey-bg {
    background: $grey;
    color: white;
  }
  .dark-grey-bg {
    background: $dark_grey;
    color: white;
  }
  .light-grey-bg {
    background: $light_grey;
    color: white;
  }
  .ultra-light-grey-bg {
    background: $ultra_light_grey;
    color: white;
  }
  .whitesmoke-bg {
    background: whitesmoke;
  }
  .light-whitesmoke-bg {
    background: lighten(whitesmoke, 3);
  }

// Text-colors
  .primary-text {
    color: $primary_color;
  }
  .red-text {
    color: $red;
  }
  .dark-red-text {
    color: $dark_red;
  }
  .green-text {
    color: $green;
  }
  .dark-green-text {
    color: $dark_green;
  }
  .grey-text {
    color: $grey;
  }
  .dark-grey-text {
    color: $dark_grey;
  }
  .light-grey-text {
    color: $light_grey;
  }
  .ultra-light-grey-text {
    color: $ultra_light_grey;
  }

// buttons
  .btn {
    border: none;
    box-shadow: none;
    border-radius: $button_roundness;

    &:hover, &:focus, &:active, &:visited {
      color: white;
      outline: none;
    }

    &.red-bg {
      &:hover {
        background: $dark_red;
        color: white;
      }
    }

    &.green-bg {
      &:hover {
        background: $dark_green;
        color: white;
      }
    }
    
    &.grey-bg {
      &:hover {
        background: $dark_grey;
        color: white;
      }
    }
  }

// alerts
  .alert {
    border-radius: $button_roundness;
    border: none;

    &.alert-danger {
      background: $dark_red;
      color: white;
    }

    &.alert-success {
      background: $dark_green;
      color: white;
    }
  }

// modals
  div.modal-content {
    background: $ultra_light_grey;
    border-radius: $modal_roundness;
    padding: 2 * $modal_roundness;
  }

// Utility Classes for margin and padding
  .no-margin { margin: 0; }
  .no-margin-top { margin-top: 0; }
  .padded-top-200 { padding-top: 200px; }
  .padded-bottom-200 { padding-bottom: 200px; }
  .padded-top-50 { padding-top: 50px; }
  .padded-bottom-50 { padding-bottom: 50px; }
  .margin-top-200 { margin-top: 200px; }
  .margin-bottom-200 { margin-bottom: 200px; }
  .margin-top-50 { margin-top: 50px; }
  .margin-bottom-50 { margin-bottom: 50px; }

// Other Styles
  .turbolinks-progress-bar {
    background-color: $red;
  }

  hr {
    border-color: lighten($light_grey, 10);
  }

  div.card {
    border-radius: $modal_roundness;
    padding: 2 * $modal_roundness;
    margin: 0 20px 20px 0;
  }