body.notes.new, body.notes.create,
body.notes.edit, body.notes.update {
  form textarea, #note-preview div.preview {
    min-height: 500px;
    max-height: 500px;
  }

  .form-actions {
    padding: 10px 0;
  }

  #note-preview div.preview {
    padding: 10px;
    white-space: pre-wrap;
    overflow: auto;
    border: thin solid $light_grey;
  }
}