body.notes.index {
  .note {
    background: whitesmoke;
    cursor: pointer;
    height: 200px;

    &.new {
      background: darken(whitesmoke, 3); 
      &:hover {
        background: whitesmoke;
      }
    }

    &:hover {
      background: darken(whitesmoke, 3);
    }
  }
}