<div class="row">
  <div class="col-sm-6 col-sm-offset-3 padded-top-200">
    <h1 class="text-center no-margin">Notebook</h1>
    <p class="lead text-center margin-bottom-50">By Nobilis</p>
    <p class="lead text-center">
      The easiest way to create and share simple documents. No heavy word processors, just plain ol’ markdown.
    </p>
    <p class="text-center margin-top-50">
      <% if user_logged_in? %>
        <span>Signed in as <u><%= current_user.name %></u> <%= link_to '(Not you?)', signout_path %></span><br><br>
        <%= link_to 'Go to your notes', notes_path, class:"btn btn-lg red-bg" %><br><br>
      <% else %>
        <%= link_to '/auth/google_oauth2', class:"btn btn-lg red-bg" do %>
          <small><i class="socicon socicon-google"></i></small> 
          &ensp; Sign in with Google
        <% end %>
      <% end %>
    </p>
  </div>
</div>
