<div class="row">
  <div class="col-sm-6 col-sm-offset-3 padded-top-200">
    <h1 class="text-center no-margin">Notebook</h1>
    <p class="lead text-center margin-bottom-50">By Nobilis</p>
    <p class="lead text-center">
      The easiest way to create and share simple documents. No heavy word processors, just plain ol’ markdown.
    </p>
    <p class="text-center margin-top-50">
      <a href="#" class="btn btn-lg red-bg">
        <small><i class="socicon socicon-google"></i></small> 
        &ensp; Sign in with Google
      </a>
    </p>
  </div>
</div>